<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"> 
   <bean id = "dinner" class = "foodPackage.Dinner">
   	<constructor-arg name = "dinnerSpecialItemfortoday" value = "Mushroom Kothu Parotta"></constructor-arg>
   </bean>
   
   <bean id = "lunch" class = "foodPackage.Lunch">
   <constructor-arg name = "spclitem" value = "Veg Dum Briyani"></constructor-arg>
   </bean>
   <bean id = "breakfast" class = "foodPackage.Breakfast">
   <constructor-arg name = "SpclItem" value = "Medhu Vada"></constructor-arg>
   </bean>
</beans>